.header{
  justify-content: center;
  text-align: center;
  margin-top:10%;
  
  padding: 25%;
}

.header__body--line-1{
  font-size: 40px;
  color:black;
}


.header__body--line-1--span-1{
  color: orange;
  font-size: 45px;
}



.header__body--line-2{
  font-size: 30px;
  color:black;
}

